<div class="discussion-widget">
    <h1 class="discussion-header">
        <span class="participants-count">{{ participants_count }}</span> participants
    </h1>
    <div class="comments-container"></div>
    <div class="comment-container"></div>
</div>
