.search-widget {
  max-width: 500px;
}
.search-widget .search-form {
  border-width: 3px;
  text-align: center;
}
.search-widget .search-query {
  font-family: Monda;
  padding-right: 10px;
  min-width: 82%;
}
.search-widget .search-button {
  padding: 5px 12px;
}
.search-widget .search-results {}
