.search-widget {
  max-width: 500px;
}
.search-widget .search-form {
  background-color: #eee;
  border: 10px solid #fff;
  border-radius: 5px;
  border-width: 3px;
  box-shadow: 2px 2px 2px #444;
  margin: 10px 0;
  padding: 8px;
  text-align: center;
}
.search-widget .search-form input:focus {
  border: 1px solid #2af;
  box-shadow: 0px 0px 3px #08f;
  outline: none;
}
.search-widget .search-form input {
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ccc;
  margin: 5px;
  padding: 3px;
}
.search-widget .search-query {
  font-family: Monda;
  padding-right: 10px;
  min-width: 83%;
}
.search-widget .search-button {
  padding: 5px 12px;
}
.search-widget .search-results {
  display: none;
}
.search-widget .results-header {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  color: #fff;
}
.search-widget .search-results > *:first-child {
  margin-top: 0;
}
