<div class="search-widget">
  <form class="search-form" action="/search" method="GET">
    <input class="search-query" type="text" name="query" placeholder="Search for users, arguments, tags...">
    <button class="search-button" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  </form>
  <div class="search-results">
    <div class="argument-results"></div>
    <div class="user-results"></div>
  </div>
</div>
