<div class="search-widget">
  <form class="search-form" action="/search" method="GET">
    <input class="search-query" type="text" name="query">
    <button class="search-button" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
  </form>
  <div class="search-results">
  </div>
</div>
