<div class="search-widget">
  <form class="search-form" action="/search" method="GET">
    <input class="search-query" type="text" name="query" placeholder="Search for users, arguments, propositions...">
    <button class="search-button" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  </form>
  <div class="search-results">
    <h2 class="results-header">
      <span class="users-count"></span> Users,
      <span class="arguments-count"></span> Arguments,
      <span class="propositions-count"></span> Propositions
    </h2>
    <div class="user-results"></div>
    <div class="argument-results"></div>
    <div class="proposition-results"></div>
  </div>
</div>
