<div class="user-widget">
  <img class="user-avatar" src="https://secure.gravatar.com/avatar/{{ gravatar_id }}?rating=pg&default=identicon&size=75px">
  <div class="user-info">
    <div class="user-username">
      <a href="{{ base_url }}/{{ username }}">{{ username }}</a>
    </div>
    <div class="user-metadata">
      <span class="repos-count">{{ metadata.repos_count }}</span> Arguments
    </div>
  </div>
</div>
