<div class="tags-widget">
    <h3 class="support-tags-header">{{ tags.supports.length }} Support Tags</h3>
    <div class="support-tags tags-container">
    </div>
    <h3 class="dispute-tags-header">{{ tags.disputes.length }} Dispute Tags</h3>
    <div class="dispute-tags tags-container">
    </div>
    <h3 class="cite-tags-header">{{ tags.cites.length }} Cite Tags</h3>
    <div class="cite-tags tags-container">
    </div>
</div>
