<div class="tags-widget">
    <h3 class="support-tags-header">
        <span class="support-tag-icon glyphicon glyphicon-bookmark"></span>
        {{ tagsByType.supports.length }} Support Tags
    </h3>
    <div class="support-tags tags-container">
    </div>
    <h3 class="dispute-tags-header">
        <span class="dispute-tag-icon glyphicon glyphicon-bookmark"></span>
        {{ tagsByType.disputes.length }} Dispute Tags
    </h3>
    <div class="dispute-tags tags-container">
    </div>
    <h3 class="citation-tags-header">
        <span class="citation-tag-icon glyphicon glyphicon-bookmark"></span>
        {{ tagsByType.citations.length }} Citation Tags
    </h3>
    <div class="citation-tags tags-container">
    </div>
</div>
