<div class="tags-widget">
    <h3 class="support-tags-header">{{ tags.supports.length }} Support Tags</h3>
    <div class="support-tags tags-container">
    </div>
    <h3 class="dispute-tags-header">{{ tags.disputes.length }} Dispute Tags</h3>
    <div class="dispute-tags tags-container">
    </div>
    <h3 class="citation-tags-header">{{ tags.citations.length }} Citation Tags</h3>
    <div class="citation-tags tags-container">
    </div>
</div>
