/* Argumenta - add-tag Widget Stylesheet */

/* Add Tag Dialogue */

.add-tag-widget {
    min-width: 350px;
    width: 100%;
}
.add-tag-widget form.new-tag {
  text-align: center;
  display: block;
  margin: 5px 2px;
  padding: 10px 2px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px #ccc;
}
.add-tag-widget .tag-dialogue fieldset {
  border: 0px solid #ccc;
  vertical-align: middle;
}
.add-tag-widget .tag-dialogue fieldset legend {
  text-align: center;
  width: 100%;
}
.add-tag-widget .tag-dialogue button {
  padding: 4px;
  font-size: 13px;
}
.add-tag-widget .tag-dialogue button[name=support],
.add-tag-widget .tag-dialogue button[name=support][class~=off]:hover {
  color: #fff;
  background: #22e022;
}
.add-tag-widget .tag-dialogue button[name=dispute],
.add-tag-widget .tag-dialogue button[name=dispute][class~=off]:hover {
  color: #fff;
  background: #f28;
}
.add-tag-widget .tag-dialogue button[name=citation],
.add-tag-widget .tag-dialogue button[name=citation][class~=off]:hover {
  color: #fff;
  background: #555;
}
.add-tag-widget .tag-dialogue button[class~=off] {
  color: #333;
  background: #fff;
}
.add-tag-widget .tag-dialogue button:hover {
  opacity: 1.0;
}
.add-tag-widget .add-tag-divider {
  border-style: none none solid;
  border-color: #CCC;
  border-width: 1px;
  height: 2px;
  margin: 8px;
  width: auto;
}
.add-tag-widget .support-contents,
.add-tag-widget .dispute-contents,
.add-tag-widget .citation-contents,
.add-tag-widget .tag-dropbox-container {
  margin: 5px 0px;
  padding: 5px 0px;
  width: 100%;
}
.add-tag-widget .tag-dropbox {
  display: none;
  background: #fff;
  min-height: 3em;
  width: auto;
  border: 1px solid #3bf;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ccc;
  margin: 5px;
  padding: 3px;
}
.argumenta-drag .add-tag-widget .tag-dropbox {
  display: block;
}
.add-tag-widget.dropped .tag-dropbox {
  display: block;
}
.add-tag-widget .tag-dropbox .dropbox-preview {
  min-height: 4em;
  min-width: 350px;
  padding: 0px;
  text-align: left;
  font-weight: normal;
}
.add-tag-widget .dropbox-hover {
  border: 1px solid #3cf;
  box-shadow: 0 0 10px #3af;
}
.add-tag-widget .tag-dropbox .dropbox-contents {
  display: none;
}
.add-tag-widget textarea {
  outline: none;
}
.add-tag-widget textarea:focus {
  border: 1px solid #2af;
  box-shadow: 0 0 3px #08f;
}
.add-tag-widget [name=proposition_text] {
  display: block;
  box-sizing: border-box;
  width: 95%;
  height: 4.5em;
  margin: 5px auto;
}
.argumenta-drag .add-tag-widget [name=proposition_text] {
  display: none;
}
.add-tag-widget.dropped [name=proposition_text] {
  display: none;
}
.add-tag-widget [name=citation_text] {
  box-sizing: border-box;
  width: 95%;
  height: 4.5em;
  margin: 5px auto;
}
.add-tag-widget .add-tag-submit {
  background: #333;
}
