<div class="add-tag-widget">
    <div class="tag-dialogue" data-target_type="{{target_type}}" data-target_sha1="{{target_sha1}}">
        <form action="{{base_url}}/tags" class="new-tag form-defaults glass-border" method="POST">
            <input type="hidden" name="target_type" value="{{target_type}}">
            <input type="hidden" name="target_sha1" value="{{target_sha1}}">
            <h3>Create a new tag!</h3>
            <fieldset>
                <input type="hidden" name="tag_type" value="support">
                <button type="button" name="support" class="on">Support</button>
                <button type="button" name="dispute" class="off">Dispute</button>
                <button type="button" name="citation" class="off">Citation</button>
            </fieldset>
            <hr class="add-tag-divider">
            <fieldset class="support-contents dispute-contents tag-dropbox-container">
                <input type="hidden" name="source_type" value="">
                <input type="hidden" name="source_sha1" value="">
                <div class="dropbox-instruction strong">Drag an argument or proposition here.</div>
                <div class="tag-dropbox">
                    <div class="dropbox-preview"></div>
                    <div class="dropbox-contents"></div>
                </div>
            </fieldset>
            <fieldset class="citation-contents block" style="display: none;">
                <div class="citation-instruction strong">Cite a source by describing it here.</div>
                <textarea name="citation_text" placeholder="My citation!
                                                            http://en.wikipedia.org/wiki/Citation"></textarea>
            </fieldset>
            <div>
                <button class="ebony-gradient" type="submit" value="Add Tag!">Add Tag!</button>
            </div>
        </form>
    </div>
</div>
