/* Argumenta - Argument Widget Stylesheet */

.argument-widget {
    max-width: 600px;
    padding: 0px 0px;
    margin: 10px 0px;
    font-size: 13px;
    color: #333;
    background: #fff;
    box-shadow: 0px 2px 3px #333;
}
.argument-widget .light {
    color: #999;
}
.argument-widget .shadowed {
    text-shadow: 1px 1px 0px #ccc;
}
.argument-main:hover,
.argument-widget.drag .argument-main {
    border-left: 4px solid #555 !important;
}
.argument-main {
    background: #fff;
    padding: 5px 5px;
    border-left: 4px solid #ccc;
    border-radius: 0px;
    cursor: pointer;
}

.argument-widget .argument-menu {
    opacity: 0.0;
    -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
}
.argument-widget:hover .argument-menu,
.argument-menu.open {
    opacity: 1.0;
}
.argument-menu {
    float: right;
    padding: 0px 2px;
}

.argument-menu .btn {
    padding: 2px 8px;
}

.argument-title {
    font-size: 22px;
}
.argument-sha1 {
    color: #999;
}
.commit-info {
    color: #666;
}
.commit-date {
    color: #666;
}
.propositions-container {
    background: #f8f8f8;
    padding: 0px;
}
.argument-widget .argument-content {
    display: none;
}
.argument-widget .propositions-container > .proposition-widget {
    margin: 0;
}
.argument-widget .discussions-container {
}
.argument-widget .argument-footer {
    font-size: 14px;
    border-left: solid 4px #ccc;
    padding: 5px;
    background: #fff;
}
.argument-widget .argument-discuss {
    font-size: 14px;
}
