<div class="argument-widget">
    <div class="argument-container">
        <div class="argument-main">

            <div class="argumenta-bootstrap">
                <div class="argument-menu btn-group btn-mini">
                    <div class="btn disabled">
                        <span class="action-edit">Edit</span>
                    </div>
                    <div class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu pull-right">
                        <li class="disabled"><a class="action-edit">Edit</a></li>
                        <li class="disabled"><a class="action-collect">Add to Collection</a></li>
                        <li><a class="action-delete">Delete Repo</a></li>
                    </ul>
                </div>
            </div>

            <div class="argument-title bold shadowed" title="Argument: {{ title }}">
                <span>
                    {{ title }}
                </span>
            </div>
            <div class="argument-sha1">
                <a class="light" href="{{ base_url }}/arguments/{{ sha1 }}" title="{{ details_desc }}">
                    {{ partial_sha1 }}
                </a>
            </div>
            <div class="commit-info">
                by
                <span class="committer">
                    <a href="{{ base_url }}/{{ commit.committer }}">{{ commit.committer }}</a>
                </span>
                on <span class="commit-date">{{ commit.commit_date }}</span>
            </div>
        </div>
        <div class="argument-content">
            <div class="propositions-container"></div>
            <div class="argument-footer">
                <a href="#" class="argument-discuss">Discuss!</a>
            </div>
            <div class="discussion-container"></div>
        </div>
    </div>
</div>
