<div class="argument-widget">
    <div class="argument-container">
        <div class="argument-main">
            <div class="argument-title trebuchet bold shadowed" title="Argument: {{ title }}">
                <span>
                    {{ title }}
                </span>
            </div>
            <div class="argument-sha1">
                <a class="light" href="/arguments/{{ sha1 }}" title="{{ details_desc }}">
                    {{ partial_sha1 }}
                </a>
            </div>
            <div class="commit-info">
                by
                <span class="committer">
                    <a href="/user/{{ commit.committer }}">{{ commit.committer }}</a>
                </span>
                on <span class="commit-date">{{ commit.commit_date }}</span>
            </div>
        </div>
        <div class="propositions-container">
        </div>
    </div>
</div>
