<div class="argument-widget">
    <div class="argument-container">
        <div class="argument-main">

            <div class="argument-title bold shadowed" title="{{ argument_desc }}">
                <a href="{{ repo_url }}">{{ title }}</a>
            </div>
            <div class="argument-sha1">
                <a class="light" href="{{ base_url }}/arguments/{{ sha1 }}" title="{{ object_desc }}">
                    {{ partial_sha1 }}
                </a>
            </div>
            <div class="commit-info">
                by
                <span class="committer">
                    <a href="{{ base_url }}/{{ commit.committer }}">{{ commit.committer }}</a>
                </span>
                on <span class="commit-date">{{ commit.commit_date }}</span>
            </div>
            <div class="argumenta-bootstrap">
                <div class="btn-group argument-menu">
                    <div class="btn btn-small disabled">
                        <span class="action-edit">Edit</span>
                    </div>
                    <button class="btn btn-small dropdown-toggle argument-menu-button" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a class="action-edit">Edit</a></li>
                        <li class="disabled"><a class="action-collect">Add to Collection</a></li>
                        <li class="disabled"><a class="action-delete">Delete Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="argument-content">
            <div class="propositions-container"></div>
            <div class="argument-footer">
                <a href="#" class="argument-discuss">
                    <span class="argumenta-bootstrap"><span class="action-icon glyphicon glyphicon-comment"></span></span>
                    <span class="action-text">Discuss!</span>
                </a>
                <a href="#" class="show-discussions">
                    <span class="argumenta-bootstrap"><span class="action-icon glyphicon glyphicon-th-list"></span></span>
                    <span class="action-text">Show {{ metadata.discussions_count }} discussions</span>
                </a>
                <div class="discussion-container"></div>
                <div class="discussions-panel">
                    <h2 class="discussions-header"><span class="discussions-count">{{ metadata.discussions_count }}</span> Discussions</h2>
                    <div class="discussions-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
