<div class="comment-widget">
    <img class="comment-avatar" src="https://secure.gravatar.com/avatar/{{ gravatar_id }}?rating=pg&default=identicon&size=50px">
    <div class="comment-main">
        <div class="comment-header">
            <a class="comment-author" href="{{ base_url }}/{{ author }}">{{ author }}</a>
        </div>
        <div class="comment-text">{{ comment_text }}</div>
        <div class="comment-date">{{ comment_date }}</div>
    </div>
    <div class="comment-actions">
        <a class="comment-reply" href="#">Reply!</a>
    </div>
</div>
