<div class="comment-widget">
    <img class="comment-avatar" src="https://secure.gravatar.com/avatar/{{ gravatar_id }}?rating=pg&default=identicon&size=50px">
    <div class="comment-main">
        <div class="comment-header">
            <a class="comment-author" href="{{ base_url }}/{{ author }}">{{ author }}</a>
            <span class="comment-date" title="{{ comment_date }}">{{ short_date }}</span>
        </div>
        <div class="comment-text">{{{ escaped_text }}}</div>
    </div>
    <div class="comment-actions">
        <a class="comment-reply" href="#">Reply!</a>
    </div>
</div>
