/* Argumenta - Shared Stylesheet */

/* External Fonts */

@import url("https://fonts.googleapis.com/css?family=Duru+Sans|Monda");

/* Bootstrap */

@import url("./bootstrap.css");

/* Glyphicons */

@import url("./bootstrap-glyphicons.css");

/* Shared Styles */

.argumenta,
.argumenta textarea,
.argumenta h1, .argumenta h2, .argumenta h3,
.argument-widget, .proposition-widget,
.add-tag-widget, .citation-widget, .tags-widget
{
    font-family: "Monda";
    line-height: 1.3;
}

/* Notifications */

.argumenta .notifications {
  position: fixed;
  width: 50%;
  top: 10px;
  left: 25%;
  right: 25%;
}

.argumenta .error {
  background-color: rgba(255,143,162,0.95);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.argumenta .info {
  background-color: rgba(0,189,179,0.95);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/* Links */

.argumenta a {
    color: #08f;
}
.argumenta a:hover {
    text-decoration: underline;
}

/* Text */

.argumenta .bold {
    font-weight: bold;
}
.argumenta .center-text {
    text-align: center;
}
.argumenta .left-align-text {
    text-align: left;
}
.argumenta .strong {
    font-weight: bold;
}

/* Forms, input, buttons */

.argumenta .form-defaults {
    display: inline-block;
    background: #f2f2f2;
    box-shadow: 2px 2px 4px #444;
    margin: 5px;
    padding: 10px;
}
.argumenta .form-defaults legend {
    font-size: 14px;
    line-height: 1.2;
    margin: 5px 0px;
}
.argumenta button:hover{
    text-shadow: 0px 0px 5px #fff;
}
.argumenta button {
    color: #fff;
    background: #000;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #ccc;
    margin: 5px;
    padding: 4px;
}
.argumenta input, textarea {
    color: #333;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ccc;
    margin: 5px;
    padding: 3px;
}

/* Skin */

.argumenta .card {
    margin: 5px;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px #888;
}
.argumenta .glass-border {
    border-radius: 5px;
    border: 10px solid rgba(255, 255, 255, 0.7);
}
.argumenta .glass-border-light {
    border-radius: 5px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    background: none;
}

/* Skin (Background) */

.argumenta .dark-stripes{
    background-image: url('/images/dark-stripes.svg');
}
.argumenta .light-stripes {
    background-image: url('/images/light-stripes.svg');
}
.argumenta .glass-pane {
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}
.argumenta .glass-pane-dark {
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

/* Color */

.argumenta .ivory {
    color: #f8f8f8;
}
.argumenta .aluminum-bg {
    background-color: #f2f2f2;
}
.argumenta .support-bg {
    background-color: #44e844;
}
.argumenta .dispute-bg {
    background-color: #f28;
}
.argumenta .citation-bg {
    background-color: #555;
}
.argumenta .ivory-gradient {
    background-image: -webkit-linear-gradient(top, #fff, #fff, #ddd);
    background-image: -moz-linear-gradient(top, #fff, #fff, #ddd);
    background-image: linear-gradient(top, #fff, #fff, #eee);
}
.argumenta .ebony-gradient {
    background-image: -webkit-linear-gradient(top, #888, #000, #000);
    background-image: -moz-linear-gradient(top, #888, #000, #000);
    background-image: linear-gradient(top, #ccc, #888, #000, #000);
}

/* Layout */

.argumenta .two-columns > * {
    width: 49.5%;
}
.argumenta .column {
    display: inline-block;
    vertical-align: top;
}

/* Positioning */

.argumenta .block {
    display: block;
}
.argumenta .inline-block {
    display: inline-block;
}
.argumenta .float-right {
    float: right;
}

/* Fixes */

.argumenta .clearfix {
    clear: both;
    visibility: hidden;
}

