/* Argumenta - Citation Widget Stylesheet */

.citation-widget {
    border-left: 4px solid #ccc;
}

.citation-widget:hover {
    border-left-color: #555;
}

.citation-widget .citation-main {
    padding: 5px;
}

.citation-widget .citation-media {
    padding-left: 5px;
}

.citation-widget .citation-text {
    font-family: "Duru Sans";
    font-size: 14px;
}
