/* Argumenta - Citation Widget Stylesheet */

div.citation-widget .citation-index {
    font: 19px serif;
    text-shadow: 1px 1px 1px #AAA;
}

div.citation-widget {
    border-left: 4px solid #ccc;
}

div.citation-widget:hover {
    border-left-color: #555;
}

div.citation-main {
    padding: 5px;
}

div.citation-media {
    padding-left: 5px;
}

span.citation-text {
    font-family: "Duru Sans";
    font-size: 14px;
}
