<div class="citation-widget">
    <div class="citation-container">
        <div class="citation-main">
            <span class="citation-index">Citation:</span><br>
            <span class="citation-text">{{ citation_text }}</span>
        </div>
        <div class="citation-media"></div>
    </div>
</div>
