/* Argumenta - Proposition Widget Stylesheet */

.proposition-widget {
    width: auto;
    min-width: 350px;
    max-width: 600px;
    margin: 10px 0px;
    padding: 2px;
    border-left: 4px solid #ccc;
    border-radius: 0px;
    font-size: 13px;
    background: #fff;
    box-shadow: 0 2px 2px #333;
}
.proposition-widget:hover {
    border-left-color: #08f;
}
.proposition-widget.premise,
.proposition-widget.conclusion {
    margin: 0;
    box-shadow: none;
}
.proposition-widget.drag {
    border-left-color: #08f;
    box-shadow: 0 2px 2px #333;
}
.proposition-widget .proposition-main {
    padding: 5px;
    cursor: pointer;
}
.proposition-widget .proposition-main .text {
    font: 14px "Duru Sans";
}
.proposition-widget .ui-draggable-dragging div.proposition-main {
    cursor: move;
}
.proposition-widget .proposition-main .index {
    font: 23px serif;
    text-shadow: 1px 1px 1px #aaa;
}
.proposition-widget .core-info {
    display: inline-block;
    width: 100%;
}
.proposition-widget .sha1, .sha1 a {
    font-size: 13px;
    color: #999;
}
.proposition-widget .support-tag-meta,
.proposition-widget .dispute-tag-meta,
.proposition-widget .citation-tag-meta {
    position: relative;
    z-index: 0;
}
.proposition-widget .support-tag-icon,
.proposition-widget .dispute-tag-icon,
.proposition-widget .citation-tag-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    font-size: 25px;
    text-shadow: 2px 2px 0px #bbb;
}
.proposition-widget .support-tag-icon {
    color: #4e4;
}
.proposition-widget .dispute-tag-icon {
    color: #f47;
}
.proposition-widget .citation-tag-icon {
    color: #333;
}
.proposition-widget .support-tag-count,
.proposition-widget .dispute-tag-count,
.proposition-widget .citation-tag-count {
    display: inline-block;
    position: relative;
    top: -2px;
    min-width: 2em;
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0px #555;
}
.proposition-widget .tag-info {
    display: inline-block;
    text-align: right;
}
.proposition-widget .tag-counts [data-count="0"] {
    display: none;
}
.proposition-widget .tag-counts .supports { background-color: #44e844; }
.proposition-widget .tag-counts .disputes { background-color: #f28; }
.proposition-widget .tag-counts .citations { background-color: #555; }
.proposition-widget .add-tag-button {
    margin: 4px !important;
    padding: 2px 7px !important;
    border: 1px solid #ddd;
}
.proposition-widget .proposition-details {
    padding-left: 15px;
}
