<div class="proposition-widget" data-sha1="{{sha1}}">
    <div class="proposition-main">
        <span class="index" title="{{proposition_desc}}"> {{index}}.</span>
        <span class="text" title="{{proposition_desc}}"> {{text}}</span><br>
        <span class="sha1"> <a href="{{base_url}}/propositions/{{sha1}}" title="{{details_desc}}">{{partial_sha1}}</a> </span>
        <div class="tag-info float-right">
            <span class="tag-counts">
                <span class="support-tag-meta" data-count="{{metadata.tag_counts.support}}" title="Support Tags">
                    <span class="support-tag-icon glyphicon glyphicon-bookmark"></span>
                    <span class="support-tag-count">{{metadata.tag_counts.support}}</span>
                </span>
                <span class="dispute-tag-meta" data-count="{{metadata.tag_counts.dispute}}" title="Dispute Tags">
                    <span class="dispute-tag-icon glyphicon glyphicon-bookmark"></span>
                    <span class="dispute-tag-count">{{metadata.tag_counts.dispute}}</span>
                </span>
                <span class="citation-tag-meta" data-count="{{metadata.tag_counts.citation}}" title="Citation Tags">
                    <span class="citation-tag-icon glyphicon glyphicon-bookmark"></span>
                    <span class="citation-tag-count">{{metadata.tag_counts.citation}}</span>
                </span>
                <a href="#" class="add-tag-link">
                    <span class="add-tag-button card ivory-gradient bold sans" title="Add Tag!"> + </span>
                </a>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="add-tag-widget-container"></div>
    <div class="proposition-details">
        <div class="tags-widget-container"></div>
    </div>
</div>
